.bg-info {
  background-color: #3498db !important;
  color: #ecf0f1 !important;
}

.bg-dark {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.bg-secondary {
  background-color: #95a5a6 !important;
  color: #ecf0f1 !important;
}

.bg-light {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

.bg-primary {
  background-color: #8e44ad !important;
  color: #ecf0f1 !important;
}

.bg-danger {
  background-color: #c0392b !important;
  color: #ecf0f1 !important;
}

.bg-warning {
  background-color: #f1c40f !important;
  color: #2c3e50 !important;
}

.bg-success {
  background-color: #27ae60 !important;
  color: #ecf0f1 !important;
}

.info {
  color: #3498db !important;
}

.dark {
  color: #2c3e50 !important;
}

.secondary {
  color: #95a5a6 !important;
}

.light {
  color: #ecf0f1 !important;
}

.primary {
  color: #8e44ad !important;
}

.danger {
  color: #c0392b !important;
}

.warning {
  color: #f1c40f !important;
}

.success {
  color: #27ae60 !important;
}

.btn {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: transparent;
  box-shadow: 0 0 10rem 0.2rem black;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-info {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #3498db;
  box-shadow: 0 0 10rem 0.2rem #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-secondary {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #95a5a6;
  box-shadow: 0 0 10rem 0.2rem #95a5a6;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-dark {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #2c3e50;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-light {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #ecf0f1;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-primary {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #8e44ad;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-danger {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #c0392b;
  box-shadow: 0 0 10rem 0.2rem #c0392b;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-warning {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #f1c40f;
  box-shadow: 0 0 10rem 0.2rem #f1c40f;
  color: #2c3e50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn-success {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #27ae60;
  box-shadow: 0 0 10rem 0.2rem #27ae60;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: transparent;
  box-shadow: 0 0 10rem 0.2rem black;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-info:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #3498db;
  box-shadow: 0 0 10rem 0.2rem #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-secondary:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #95a5a6;
  box-shadow: 0 0 10rem 0.2rem #95a5a6;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-dark:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #2c3e50;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-light:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #ecf0f1;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-primary:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #8e44ad;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-danger:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #c0392b;
  box-shadow: 0 0 10rem 0.2rem #c0392b;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-warning:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #f1c40f;
  box-shadow: 0 0 10rem 0.2rem #f1c40f;
  color: #2c3e50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn-success:hover {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #27ae60;
  box-shadow: 0 0 10rem 0.2rem #27ae60;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.83);
}

.btn:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: transparent;
  box-shadow: 0 0 10rem 0.2rem black;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-info:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #3498db;
  box-shadow: 0 0 10rem 0.2rem #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.5);
}

.btn-secondary:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #95a5a6;
  box-shadow: 0 0 10rem 0.2rem #95a5a6;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(149, 165, 166, 0.5);
}

.btn-dark:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #2c3e50;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.5);
}

.btn-light:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #ecf0f1;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(236, 240, 241, 0.5);
}

.btn-primary:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #8e44ad;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(142, 68, 173, 0.5);
}

.btn-danger:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #c0392b;
  box-shadow: 0 0 10rem 0.2rem #c0392b;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(192, 57, 43, 0.5);
}

.btn-warning:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #f1c40f;
  box-shadow: 0 0 10rem 0.2rem #f1c40f;
  color: #2c3e50;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(241, 196, 15, 0.5);
}

.btn-success:focus {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  background: #27ae60;
  box-shadow: 0 0 10rem 0.2rem #27ae60;
  color: #ecf0f1;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  filter: brightness(0.93);
  box-shadow: 0 0 0 0.2rem rgba(39, 174, 96, 0.5);
}

/*# sourceMappingURL=main.css.map */
