$primary: #8e44ad;
$secondary: #95a5a6;
$light: #ecf0f1;
$dark: #2c3e50;
$success: #27ae60;
$info: #3498db;
$warning: #f1c40f;
$danger: #c0392b;

@mixin bg($bg: $primary, $color: $light) {
    background-color: $bg !important;
    color: $color !important;
}
.bg-info {@include bg($bg: $info);}
.bg-dark {@include bg($bg: $dark);}
.bg-secondary {@include bg($bg: $secondary);}
.bg-light {@include bg($bg: $light, $color: $dark);}
.bg-primary {@include bg($bg: $primary);}
.bg-danger {@include bg($bg: $danger);}
.bg-warning {@include bg($bg: $warning, $color: $dark);}
.bg-success {@include bg($bg: $success);}

@mixin text($color: $dark) {
    color: $color !important;
}
.info {@include text($info);}
.dark {@include text($dark);}
.secondary {@include text($secondary);}
.light {@include text($light);}
.primary {@include text($primary);}
.danger {@include text($danger);}
.warning {@include text($warning);}
.success {@include text($success);}

@mixin btn($bg: transparent, $color: $light) {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    background: $bg;
    box-shadow: 0 0 10rem .2rem rgba($bg, 35);
    color: $color;
    border: none;
    border-radius: .3rem;
    padding: .6rem 1rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: .2s ease-in-out;
}
@mixin btn-hover($bg: transparent, $color: $light) {
    @include btn($bg, $color);
    filter: brightness(0.83);
}
@mixin btn-focus($bg: transparent, $color: $light) {
    @include btn($bg, $color);
    filter: brightness(0.93);
    box-shadow: 0 0 0 .2rem rgba($bg, .5);
}
.btn {@include btn;}
.btn-info {@include btn($bg: $info);}
.btn-secondary {@include btn($bg: $secondary);}
.btn-dark {@include btn($bg: $dark);}
.btn-light {@include btn($bg: $light, $color: $dark);}
.btn-primary {@include btn($bg: $primary);}
.btn-danger {@include btn($bg: $danger);}
.btn-warning {@include btn($bg: $warning, $color: $dark);}
.btn-success {@include btn($bg: $success);}

.btn:hover {@include btn-hover;}
.btn-info:hover {@include btn-hover($bg: $info);}
.btn-secondary:hover {@include btn-hover($bg: $secondary);}
.btn-dark:hover {@include btn-hover($bg: $dark, $color: $light);}
.btn-light:hover {@include btn-hover($bg: $light, $color: $dark);}
.btn-primary:hover {@include btn-hover($bg: $primary);}
.btn-danger:hover {@include btn-hover($bg: $danger);}
.btn-warning:hover {@include btn-hover($bg: $warning, $color: $dark);}
.btn-success:hover {@include btn-hover($bg: $success);}

.btn:focus {@include btn-focus;}
.btn-info:focus {@include btn-focus($bg: $info);}
.btn-secondary:focus {@include btn-focus($bg: $secondary);}
.btn-dark:focus {@include btn-focus($bg: $dark, $color: $light);}
.btn-light:focus {@include btn-focus($bg: $light, $color: $dark);}
.btn-primary:focus {@include btn-focus($bg: $primary);}
.btn-danger:focus {@include btn-focus($bg: $danger);}
.btn-warning:focus {@include btn-focus($bg: $warning, $color: $dark);}
.btn-success:focus {@include btn-focus($bg: $success);}
