@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  color: #2c3e50;
  background-color: #ecf0f1;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
* ::before {
  box-sizing: border-box;
}

.btn-primary {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-primary span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-primary:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-primary:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-primary:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(142, 68, 173, 0.4);
}
.btn-primary:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-secondary {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #95a5a6;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-secondary span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-secondary:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #95a5a6;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-secondary:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-secondary:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #95a5a6;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(149, 165, 166, 0.4);
}
.btn-secondary:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-light {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #ecf0f1;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-light span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-light:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #ecf0f1;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-light:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-light:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #ecf0f1;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(236, 240, 241, 0.4);
}
.btn-light:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-dark {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-dark span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-dark:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-dark:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-dark:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(44, 62, 80, 0.4);
}
.btn-dark:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-success {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #27ae60;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-success span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-success:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #27ae60;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-success:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-success:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #27ae60;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(39, 174, 96, 0.4);
}
.btn-success:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-info {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #3498db;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-info span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-info:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #3498db;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-info:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-info:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #3498db;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(52, 152, 219, 0.4);
}
.btn-info:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-warning {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #f1c40f;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-warning span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-warning:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #f1c40f;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-warning:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-warning:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #f1c40f;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #2c3e50;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(241, 196, 15, 0.4);
}
.btn-warning:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-error {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #c0392b;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn-error span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-error:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #c0392b;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn-error:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn-error:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #c0392b;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(192, 57, 43, 0.4);
}
.btn-error:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #8e44ad;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
}
.btn span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn:hover {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.83);
}
.btn:hover span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.btn:focus {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #2c3e50;
  box-shadow: 0 0 10rem 0.2rem #ecf0f1;
  color: #ecf0f1;
  border: none;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  transition: 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  outline: 0.25em solid rgba(44, 62, 80, 0.4);
}
.btn:focus span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.256);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

input {
  accent-color: #8e44ad;
  text-decoration: none;
  font-size: 1rem;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 0.05rem solid #2c3e50;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: text;
  transition: outline 0.15s ease, background 0.15s ease;
  margin: none;
}

input:hover {
  accent-color: #8e44ad;
  text-decoration: none;
  font-size: 1rem;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 0.05rem solid #2c3e50;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: text;
  transition: outline 0.15s ease, background 0.15s ease;
  margin: none;
  filter: brightness(0.88);
}

input:focus {
  accent-color: #8e44ad;
  text-decoration: none;
  font-size: 1rem;
  background-color: #ecf0f1;
  color: #2c3e50;
  border: 0.05rem solid #2c3e50;
  outline: 0 solid transparent;
  border-radius: 0.28rem;
  padding: 0.4rem 0.7rem;
  cursor: text;
  transition: outline 0.15s ease, background 0.15s ease;
  margin: none;
  filter: brightness(0.93);
  border: 0.05rem solid #8e44ad;
  outline: 0.25em solid rgba(142, 68, 173, 0.2);
}

input[type=checkbox] {
  outline: none !important;
  visibility: none;
}
input[type=checkbox] ::before {
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.2rem;
  height: 1.5rem;
  width: 1.5rem;
  border: 0.05rem solid #8e44ad;
}

.bg-primary {
  background-color: #8e44ad !important;
  color: #ecf0f1 !important;
}

.text-primary-l1 {
  color: #9755b4 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-primary-d1 {
  color: #8443a4 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-primary-l1 {
  background-color: #9755b4 !important;
  color: #ecf0f1 !important;
}

.bg-primary-d1 {
  background-color: #8443a4 !important;
  color: #ecf0f1 !important;
}

.border-primary1 {
  border: 0.05rem solid #8e44ad !important;
}

.text-primary-l2 {
  color: #a166bb !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-primary-d2 {
  color: #7a439a !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-primary-l2 {
  background-color: #a166bb !important;
  color: #ecf0f1 !important;
}

.bg-primary-d2 {
  background-color: #7a439a !important;
  color: #ecf0f1 !important;
}

.border-primary2 {
  border: 0.1rem solid #8e44ad !important;
}

.text-primary-l3 {
  color: #aa78c1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-primary-d3 {
  color: #714291 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-primary-l3 {
  background-color: #aa78c1 !important;
  color: #ecf0f1 !important;
}

.bg-primary-d3 {
  background-color: #714291 !important;
  color: #ecf0f1 !important;
}

.border-primary3 {
  border: 0.15rem solid #8e44ad !important;
}

.text-primary-l4 {
  color: #b489c8 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-primary-d4 {
  color: #674288 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-primary-l4 {
  background-color: #b489c8 !important;
  color: #ecf0f1 !important;
}

.bg-primary-d4 {
  background-color: #674288 !important;
  color: #ecf0f1 !important;
}

.border-primary4 {
  border: 0.2rem solid #8e44ad !important;
}

.text-primary {
  color: #8e44ad !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-primary {
  border: 0.1rem solid #8e44ad !important;
}

.bg-secondary {
  background-color: #95a5a6 !important;
  color: #ecf0f1 !important;
}

.text-secondary-l1 {
  color: #9eadae !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-secondary-d1 {
  color: #8b9b9d !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-secondary-l1 {
  background-color: #9eadae !important;
  color: #ecf0f1 !important;
}

.bg-secondary-d1 {
  background-color: #8b9b9d !important;
  color: #ecf0f1 !important;
}

.border-secondary1 {
  border: 0.05rem solid #95a5a6 !important;
}

.text-secondary-l2 {
  color: #a6b4b5 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-secondary-d2 {
  color: #809095 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-secondary-l2 {
  background-color: #a6b4b5 !important;
  color: #ecf0f1 !important;
}

.bg-secondary-d2 {
  background-color: #809095 !important;
  color: #ecf0f1 !important;
}

.border-secondary2 {
  border: 0.1rem solid #95a5a6 !important;
}

.text-secondary-l3 {
  color: #afbcbd !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-secondary-d3 {
  color: #76868c !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-secondary-l3 {
  background-color: #afbcbd !important;
  color: #ecf0f1 !important;
}

.bg-secondary-d3 {
  background-color: #76868c !important;
  color: #ecf0f1 !important;
}

.border-secondary3 {
  border: 0.15rem solid #95a5a6 !important;
}

.text-secondary-l4 {
  color: #b8c3c4 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-secondary-d4 {
  color: #6b7c84 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-secondary-l4 {
  background-color: #b8c3c4 !important;
  color: #ecf0f1 !important;
}

.bg-secondary-d4 {
  background-color: #6b7c84 !important;
  color: #ecf0f1 !important;
}

.border-secondary4 {
  border: 0.2rem solid #95a5a6 !important;
}

.text-secondary {
  color: #95a5a6 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-secondary {
  border: 0.1rem solid #95a5a6 !important;
}

.bg-light {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

.text-light-l1 {
  color: #ecf0f1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-light-d1 {
  color: #d9dee1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-light-l1 {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

.bg-light-d1 {
  background-color: #d9dee1 !important;
  color: #2c3e50 !important;
}

.border-light1 {
  border: 0.05rem solid #ecf0f1 !important;
}

.text-light-l2 {
  color: #ecf0f1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-light-d2 {
  color: #c6ccd1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-light-l2 {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

.bg-light-d2 {
  background-color: #c6ccd1 !important;
  color: #2c3e50 !important;
}

.border-light2 {
  border: 0.1rem solid #ecf0f1 !important;
}

.text-light-l3 {
  color: #ecf0f1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-light-d3 {
  color: #b2bbc1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-light-l3 {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

.bg-light-d3 {
  background-color: #b2bbc1 !important;
  color: #2c3e50 !important;
}

.border-light3 {
  border: 0.15rem solid #ecf0f1 !important;
}

.text-light-l4 {
  color: #ecf0f1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-light-d4 {
  color: #9fa9b1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-light-l4 {
  background-color: #ecf0f1 !important;
  color: #2c3e50 !important;
}

.bg-light-d4 {
  background-color: #9fa9b1 !important;
  color: #2c3e50 !important;
}

.border-light4 {
  border: 0.2rem solid #ecf0f1 !important;
}

.text-light {
  color: #ecf0f1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-light {
  border: 0.1rem solid #ecf0f1 !important;
}

.bg-dark {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.text-dark-l1 {
  color: #3f5060 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-dark-d1 {
  color: #2c3e50 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-dark-l1 {
  background-color: #3f5060 !important;
  color: #ecf0f1 !important;
}

.bg-dark-d1 {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.border-dark1 {
  border: 0.05rem solid #2c3e50 !important;
}

.text-dark-l2 {
  color: #526270 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-dark-d2 {
  color: #2c3e50 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-dark-l2 {
  background-color: #526270 !important;
  color: #ecf0f1 !important;
}

.bg-dark-d2 {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.border-dark2 {
  border: 0.1rem solid #2c3e50 !important;
}

.text-dark-l3 {
  color: #667380 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-dark-d3 {
  color: #2c3e50 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-dark-l3 {
  background-color: #667380 !important;
  color: #ecf0f1 !important;
}

.bg-dark-d3 {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.border-dark3 {
  border: 0.15rem solid #2c3e50 !important;
}

.text-dark-l4 {
  color: #798590 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-dark-d4 {
  color: #2c3e50 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-dark-l4 {
  background-color: #798590 !important;
  color: #ecf0f1 !important;
}

.bg-dark-d4 {
  background-color: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.border-dark4 {
  border: 0.2rem solid #2c3e50 !important;
}

.text-dark {
  color: #2c3e50 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-dark {
  border: 0.1rem solid #2c3e50 !important;
}

.bg-success {
  background-color: #27ae60 !important;
  color: #ecf0f1 !important;
}

.text-success-l1 {
  color: #3bb56f !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-success-d1 {
  color: #28a35e !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-success-l1 {
  background-color: #3bb56f !important;
  color: #ecf0f1 !important;
}

.bg-success-d1 {
  background-color: #28a35e !important;
  color: #ecf0f1 !important;
}

.border-success1 {
  border: 0.05rem solid #27ae60 !important;
}

.text-success-l2 {
  color: #4ebb7d !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-success-d2 {
  color: #28985d !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-success-l2 {
  background-color: #4ebb7d !important;
  color: #ecf0f1 !important;
}

.bg-success-d2 {
  background-color: #28985d !important;
  color: #ecf0f1 !important;
}

.border-success2 {
  border: 0.1rem solid #27ae60 !important;
}

.text-success-l3 {
  color: #62c28c !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-success-d3 {
  color: #298c5b !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-success-l3 {
  background-color: #62c28c !important;
  color: #ecf0f1 !important;
}

.bg-success-d3 {
  background-color: #298c5b !important;
  color: #ecf0f1 !important;
}

.border-success3 {
  border: 0.15rem solid #27ae60 !important;
}

.text-success-l4 {
  color: #76c89a !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-success-d4 {
  color: #29815a !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-success-l4 {
  background-color: #76c89a !important;
  color: #ecf0f1 !important;
}

.bg-success-d4 {
  background-color: #29815a !important;
  color: #ecf0f1 !important;
}

.border-success4 {
  border: 0.2rem solid #27ae60 !important;
}

.text-success {
  color: #27ae60 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-success {
  border: 0.1rem solid #27ae60 !important;
}

.bg-info {
  background-color: #3498db !important;
  color: #ecf0f1 !important;
}

.text-info-l1 {
  color: #46a1dd !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-info-d1 {
  color: #338fcd !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-info-l1 {
  background-color: #46a1dd !important;
  color: #ecf0f1 !important;
}

.bg-info-d1 {
  background-color: #338fcd !important;
  color: #ecf0f1 !important;
}

.border-info1 {
  border: 0.05rem solid #3498db !important;
}

.text-info-l2 {
  color: #59aadf !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-info-d2 {
  color: #3286bf !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-info-l2 {
  background-color: #59aadf !important;
  color: #ecf0f1 !important;
}

.bg-info-d2 {
  background-color: #3286bf !important;
  color: #ecf0f1 !important;
}

.border-info2 {
  border: 0.1rem solid #3498db !important;
}

.text-info-l3 {
  color: #6bb2e2 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-info-d3 {
  color: #327db1 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-info-l3 {
  background-color: #6bb2e2 !important;
  color: #ecf0f1 !important;
}

.bg-info-d3 {
  background-color: #327db1 !important;
  color: #ecf0f1 !important;
}

.border-info3 {
  border: 0.15rem solid #3498db !important;
}

.text-info-l4 {
  color: #7ebbe4 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-info-d4 {
  color: #3174a3 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-info-l4 {
  background-color: #7ebbe4 !important;
  color: #ecf0f1 !important;
}

.bg-info-d4 {
  background-color: #3174a3 !important;
  color: #ecf0f1 !important;
}

.border-info4 {
  border: 0.2rem solid #3498db !important;
}

.text-info {
  color: #3498db !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-info {
  border: 0.1rem solid #3498db !important;
}

.bg-warning {
  background-color: #f1c40f !important;
  color: #2c3e50 !important;
}

.text-warning-l1 {
  color: #f1c826 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-warning-d1 {
  color: #ddb716 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-warning-l1 {
  background-color: #f1c826 !important;
  color: #2c3e50 !important;
}

.bg-warning-d1 {
  background-color: #ddb716 !important;
  color: #2c3e50 !important;
}

.border-warning1 {
  border: 0.05rem solid #f1c40f !important;
}

.text-warning-l2 {
  color: #f0cd3c !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-warning-d2 {
  color: #caa91c !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-warning-l2 {
  background-color: #f0cd3c !important;
  color: #2c3e50 !important;
}

.bg-warning-d2 {
  background-color: #caa91c !important;
  color: #2c3e50 !important;
}

.border-warning2 {
  border: 0.1rem solid #f1c40f !important;
}

.text-warning-l3 {
  color: #f0d153 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-warning-d3 {
  color: #b69c23 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-warning-l3 {
  background-color: #f0d153 !important;
  color: #2c3e50 !important;
}

.bg-warning-d3 {
  background-color: #b69c23 !important;
  color: #2c3e50 !important;
}

.border-warning3 {
  border: 0.15rem solid #f1c40f !important;
}

.text-warning-l4 {
  color: #efd669 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-warning-d4 {
  color: #a28e29 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-warning-l4 {
  background-color: #efd669 !important;
  color: #2c3e50 !important;
}

.bg-warning-d4 {
  background-color: #a28e29 !important;
  color: #2c3e50 !important;
}

.border-warning4 {
  border: 0.2rem solid #f1c40f !important;
}

.text-warning {
  color: #f1c40f !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-warning {
  border: 0.1rem solid #f1c40f !important;
}

.bg-error {
  background-color: #c0392b !important;
  color: #ecf0f1 !important;
}

.text-error-l1 {
  color: #c44b3f !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-error-d1 {
  color: #b13a2f !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-error-l1 {
  background-color: #c44b3f !important;
  color: #ecf0f1 !important;
}

.bg-error-d1 {
  background-color: #b13a2f !important;
  color: #ecf0f1 !important;
}

.border-error1 {
  border: 0.05rem solid #c0392b !important;
}

.text-error-l2 {
  color: #c95e53 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-error-d2 {
  color: #a23a32 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-error-l2 {
  background-color: #c95e53 !important;
  color: #ecf0f1 !important;
}

.bg-error-d2 {
  background-color: #a23a32 !important;
  color: #ecf0f1 !important;
}

.border-error2 {
  border: 0.1rem solid #c0392b !important;
}

.text-error-l3 {
  color: #cd7066 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-error-d3 {
  color: #943b36 !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-error-l3 {
  background-color: #cd7066 !important;
  color: #ecf0f1 !important;
}

.bg-error-d3 {
  background-color: #943b36 !important;
  color: #ecf0f1 !important;
}

.border-error3 {
  border: 0.15rem solid #c0392b !important;
}

.text-error-l4 {
  color: #d2827a !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.text-error-d4 {
  color: #853b3a !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.bg-error-l4 {
  background-color: #d2827a !important;
  color: #ecf0f1 !important;
}

.bg-error-d4 {
  background-color: #853b3a !important;
  color: #ecf0f1 !important;
}

.border-error4 {
  border: 0.2rem solid #c0392b !important;
}

.text-error {
  color: #c0392b !important;
  background-color: none;
  padding: 0 !important;
  margin: 0 !important;
}

.border-error {
  border: 0.1rem solid #c0392b !important;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.px0 {
  padding-inline: 0;
}

.mx0 {
  margin-inline: 0;
}

.py0 {
  padding-block: 0;
}

.my0 {
  padding-block: 0;
}

.p0 {
  padding: 0rem 0rem !important;
}

.m0 {
  margin: 0rem 0rem !important;
}

.px0 {
  padding-inline: 0rem !important;
}

.py0 {
  padding-block: 0rem !important;
}

.mx0 {
  margin-inline: 0rem !important;
}

.my0 {
  margin-block: 0rem !important;
}

.ml0 {
  margin-left: 0.175rem;
}

.mr0 {
  margin-right: 0.175rem;
}

.mt0 {
  margin-top: 0.175rem;
}

.mb0 {
  margin-bottom: 0.175rem;
}

.pl0 {
  padding-left: 0.175rem;
}

.pr0 {
  padding-right: 0.175rem;
}

.pt0 {
  padding-top: 0.175rem;
}

.pb0 {
  padding-bottom: 0.175rem;
}

.p1 {
  padding: 0.2rem 0.35rem !important;
}

.m1 {
  margin: 0.2rem 0.35rem !important;
}

.px1 {
  padding-inline: 0.35rem !important;
}

.py1 {
  padding-block: 0.2rem !important;
}

.mx1 {
  margin-inline: 0.35rem !important;
}

.my1 {
  margin-block: 0.2rem !important;
}

.ml1 {
  margin-left: 0.175rem;
}

.mr1 {
  margin-right: 0.175rem;
}

.mt1 {
  margin-top: 0.175rem;
}

.mb1 {
  margin-bottom: 0.175rem;
}

.pl1 {
  padding-left: 0.175rem;
}

.pr1 {
  padding-right: 0.175rem;
}

.pt1 {
  padding-top: 0.175rem;
}

.pb1 {
  padding-bottom: 0.175rem;
}

.p2 {
  padding: 0.4rem 0.7rem !important;
}

.m2 {
  margin: 0.4rem 0.7rem !important;
}

.px2 {
  padding-inline: 0.7rem !important;
}

.py2 {
  padding-block: 0.4rem !important;
}

.mx2 {
  margin-inline: 0.7rem !important;
}

.my2 {
  margin-block: 0.4rem !important;
}

.ml2 {
  margin-left: 0.175rem;
}

.mr2 {
  margin-right: 0.175rem;
}

.mt2 {
  margin-top: 0.175rem;
}

.mb2 {
  margin-bottom: 0.175rem;
}

.pl2 {
  padding-left: 0.175rem;
}

.pr2 {
  padding-right: 0.175rem;
}

.pt2 {
  padding-top: 0.175rem;
}

.pb2 {
  padding-bottom: 0.175rem;
}

.p3 {
  padding: 0.6rem 1.05rem !important;
}

.m3 {
  margin: 0.6rem 1.05rem !important;
}

.px3 {
  padding-inline: 1.05rem !important;
}

.py3 {
  padding-block: 0.6rem !important;
}

.mx3 {
  margin-inline: 1.05rem !important;
}

.my3 {
  margin-block: 0.6rem !important;
}

.ml3 {
  margin-left: 0.175rem;
}

.mr3 {
  margin-right: 0.175rem;
}

.mt3 {
  margin-top: 0.175rem;
}

.mb3 {
  margin-bottom: 0.175rem;
}

.pl3 {
  padding-left: 0.175rem;
}

.pr3 {
  padding-right: 0.175rem;
}

.pt3 {
  padding-top: 0.175rem;
}

.pb3 {
  padding-bottom: 0.175rem;
}

.p4 {
  padding: 0.8rem 1.4rem !important;
}

.m4 {
  margin: 0.8rem 1.4rem !important;
}

.px4 {
  padding-inline: 1.4rem !important;
}

.py4 {
  padding-block: 0.8rem !important;
}

.mx4 {
  margin-inline: 1.4rem !important;
}

.my4 {
  margin-block: 0.8rem !important;
}

.ml4 {
  margin-left: 0.175rem;
}

.mr4 {
  margin-right: 0.175rem;
}

.mt4 {
  margin-top: 0.175rem;
}

.mb4 {
  margin-bottom: 0.175rem;
}

.pl4 {
  padding-left: 0.175rem;
}

.pr4 {
  padding-right: 0.175rem;
}

.pt4 {
  padding-top: 0.175rem;
}

.pb4 {
  padding-bottom: 0.175rem;
}

.p5 {
  padding: 1rem 1.75rem !important;
}

.m5 {
  margin: 1rem 1.75rem !important;
}

.px5 {
  padding-inline: 1.75rem !important;
}

.py5 {
  padding-block: 1rem !important;
}

.mx5 {
  margin-inline: 1.75rem !important;
}

.my5 {
  margin-block: 1rem !important;
}

.ml5 {
  margin-left: 0.175rem;
}

.mr5 {
  margin-right: 0.175rem;
}

.mt5 {
  margin-top: 0.175rem;
}

.mb5 {
  margin-bottom: 0.175rem;
}

.pl5 {
  padding-left: 0.175rem;
}

.pr5 {
  padding-right: 0.175rem;
}

.pt5 {
  padding-top: 0.175rem;
}

.pb5 {
  padding-bottom: 0.175rem;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
@supports (aspect-ratio: 1) {
  .rounded-circle {
    aspect-ratio: 1;
  }
}

.rounded0 {
  border-radius: 0 !important;
}

.rounded1 {
  border-radius: 0.28rem !important;
}

.border0 {
  border: none;
}

.border1 {
  border: 0.1rem solid #2c3e50 !important;
}

.rounded1 {
  border-radius: 0.14rem !important;
}

.rounded2 {
  border-radius: 0.28rem !important;
}

.rounded3 {
  border-radius: 0.42rem !important;
}

.rounded4 {
  border-radius: 0.56rem !important;
}

.rounded5 {
  border-radius: 0.7rem !important;
}
